.banner-editor-container {
    .banner-editor-content {
        overflow: auto;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: 200px;
    }

    .image-uploader {
        background-color: #ffffff;
        margin-bottom: 15px;
        padding: 32px 0;
        cursor: pointer;

        .image-placeholder {
            width: 600px;
            height: 375px;
            background-color: #f0f0f0;
            border: 1px solid #e6e6e6; /*no*/
            border-radius: 6px;
            margin: 0 auto;
            position: relative;

            >div {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                input {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .placeholder-info {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                
                .info-1 {
                    font-size: 30px; /*px*/
                    color: #333333;

                    img {
                        display: inline-block;
                        width: 32px;
                    }
                }

                .info-2 {
                    font-size: 24px; /*px*/
                    color: #999999;
                    margin-top: 17px;
                }
            }
        }

        .image-preview {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 375px;
            background-color: #f0f0f0;
            border: 1px solid #e6e6e6; /*no*/
            border-radius: 6px;
            margin: 0 auto;
            background-size: cover;
            background-position: center;

            >div {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                input {
                    width: 100% !important;
                    height: 100% !important;
                    opacity: 0;
                }
            }

            .btn-edit {
                position: absolute;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.5);
                color: #ffffff;
                font-size: 20px; /*px*/
                right: 11px;
                bottom: 9px;
                line-height: 40px; /*px*/
                text-align: center;
                padding: 0 12px;
                cursor: pointer;

                &:after {
                    content: '';
                    position: absolute;
                    width: 200%;
                    height: 200%;
                    left: -50%;
                    top: -50%;
                }
            }
        }
    }

    .input-group-wrap {

        header {
            padding: 15px 30px;
            color: #999999;
            font-size: 26px; /*px*/
        }

        .input-row {
            padding: 36px 27px;
            background-color: #ffffff;
            color: #cccccc;
            border-top: 1px solid #e8e8e8; /*no*/
            border-bottom: 1px solid #e8e8e8; /*no*/

            input {
                display: block;
                width: 100%;
                border: none;
                background-color: transparent;
                outline: none;
                font-size: 30px; /*px*/
            }
        }

        ul {

            li {
                display: flex;
                background-color: #ffffff;
                font-size: 30px; /*px*/
                color: #4d4d4d;
                padding: 34px 30px;
                cursor: pointer;

                &.active {
                    .options {
                        display: block !important;
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #f0f0f0; /*no*/
                }

                >img {
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    margin-right: 34px;
                    flex-shrink: 0;
                }

                .item-content {
                    flex: 1;
                    width: 1px;

                    >span {
                        display: inline-block;
                        height: 36px;
                        line-height: 36px;
                    }

                    .options {
                        display: none;
                        margin-top: 27px;
                        padding: 27px 29px;
                        width: 100%;
                        background-color: #f5f5f5;
                        border: 1px solid #f0f0f0; /*no*/
                        font-size: 28px; /*px*/
                        border-radius: 6px;
                        box-sizing: border-box;

                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &.pointer {
                            cursor: pointer;
                        }

                        input {
                            background-color: transparent;
                            border: none;
                            outline: none;
                            width: 100%;
                            font-size: 28px; /*px*/
                        }

                        .icon_enter {
                            float: right;
                        }
                    }
                }
            }
        }
    }

    .save-btn {

        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 98px; /*px*/
        color: #f73657;
        font-size: 32px; /*px*/
        text-align: center;
        background-color: #ffffff;
        border-top: 1px solid #e6e6e6; /*no*/
        cursor: pointer;
    }
}