.relay-dialog-container {
    
    >header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        line-height: 50px;
        font-size: 30px;
        background-color: #f74a67;
        color: #ffffff;
    }

    dl {
        padding: 30px;
        padding-bottom: 0;
    }

    dt {
        font-size: 30px;/* px */
        color: #4d4d4d;
        margin-bottom: 10px;
    }

    dd {
        font-size: 28px;/* px */
        color: #807878;
        margin-bottom: 36px;
        line-height: 1.6;
    }
}