.un-footer-box{
    padding: 60px 0 170px;
    height: 94px;
    background: url('https://img.qlchat.com/qlLive/business/HI85WV1E-JHR3-JQUN-1563260388003-HUDJAPW4MZCI.png') no-repeat center;
    background-size: auto 84px;
}