.round-wrap{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 22px;/*px*/
    height: 22px;/*px*/
    position: relative;
    border: 2px solid;/*px*/
    margin-right: 10px;

    .center{
        width: 120%;
        height: 120%;
    }

    .left{
        display: inline-block;
        width: 50%;
        height: 120%;
        position: absolute;
        left: 0;
        top: 0;
        
    }
    .right{
        display: inline-block;
        width: 50%;
        height: 120%;
        position: absolute;
        left: 50%;
        top: 0;
        transform-origin: left center;
    }
}