@import '../../../../../assets/styles/mixins.scss';

.p-intro-topic-list {
    .item {
        position: relative;
        line-height: 1.375;
        padding: 32px 0 34px;
        background: #fff;
        cursor: pointer;
        // &:active {
        //     background-color: rgba(0,0,0,.06);
        // }
        @include afterBorderBottom1px;
        &::after {
            left: 40px;
        }
        // &:last-child::after {
        //     content: none;
        // }
        .title {
            padding: 0 40px;
            color: #333;
            font-size: 32px;/*px*/
            @include webkitLineClamp();

            &.played {
                color: #F73657;
            }
        }
        .desc {
            padding: 0 40px;
            font-size: 22px;/*px*/
            line-height: 1.45;
            color: #b2b2b2;
            white-space: nowrap;
            margin-top: 18px;
        }

        .learn-num {
            margin-left: 1em;
        }

        .label {
            position: relative;
            font-size: 22px;/*px*/
            color: #F73657;
            width: 3.7em;
            text-align: center;
            height: 32px;/*px*/
            line-height: 32px;/*px*/
            @include beforeBorder1pxRadius(#F73657, .2em);
            margin-left: .8em;

            &.label-gray {
                color: #999;
                @include beforeBorder1pxRadius(#999, .2em);
            }

            &.label-red-o {
                color: #fff;
                background-color: #F73657;
                border-radius: .2em;
            }
        }



        .price {
            font-size: 22px;/*px*/
            color: #F73657;
            margin-left: .5em;
        }

        .status {
            font-size: 24px;/*px*/
            padding: 0 .3em;/*px*/
            height: 32px;/*px*/
            line-height: 32px;/*px*/
            background-color: #ededed;
            color: #999;
            margin-left: .5em;
        }

        &.is-future {
            .title {
                color: #999;
            }
        }

        .single-buy {
            color: #f74e5e;
            font-weight: 500;
        }
    }
}