.pay-for-topic-dialog{
    text-align: center;
    .main{
        display: block;
        margin: 0 auto;
        padding: 100px 0 50px;

        .msg{
            color: #333;
            font-size: 30px;/* px */
            line-height: 50px;
            padding-bottom: 50px;
        }
    }
    
    .btn-pay-channel,.btn-pay-topic{
        width: 500px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        background: #f83658;
        color: #fff;
        font-size: 30px;/* px */
        margin: 20px auto ;
        border-radius: 90px;

    }

    .btn-pay-topic{
        background: #fff;
        border: solid 1px #f83658;/* no */
        color: #f83658;
    }
}