.live-focus-qrcode{

	.co-dialog-close{
		top:10px;
		width:40px;/*px*/
		height: 40px;/*px*/
		line-height: 38px;/*px*/
		border-radius: 20px;
		background-color: rgba(0,0,0,0.2);
		color:#fff;
	}

}