
$prefix: join-university-animation;
.jion-page-barrages{
    position: flex;
    top: 50px;
    left: 40px;
    width: 100px;
    z-index: 1;
    .barrage-item{
        height:66px;
        background:rgba(0,0,0,0.6);
        border-radius:32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;

        img{
            width:50px;
            height:50px;
            border-radius: 50px;
            margin-right: 10px;
        }
        span{
            font-size:24px;/* px */
            color: #fff;
            white-space: nowrap;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            b{
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
            }
        }
    }
}


// 弹幕列表项添加 / 删除动画
.#{$prefix}-barrageListItem-enter {
    margin-top: -95px;
    opacity: 0.01;
    transform: translate3d(0,200%,0);
}

.#{$prefix}-barrageListItem-enter-active {
    opacity: 1;
    margin-top: 0;
    transform: translate3d(0,0,0);
    transition: all 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.#{$prefix}-barrageListItem-leave {
    opacity: 1;
    transform: translate3d(0,0);
    
}

.#{$prefix}-barrageListItem-leave-active {
    transform: translateY(-100%);
    opacity: 0.01;
    transition: all 300ms cubic-bezier(0.42,0,1,1);
    will-change: all;
}

.appTop{
    top: 130px !important;
}

