.come-from-act{
    background:url(./img/icon-act.png) center center;
    background-size: 100%;
    position: fixed;
    top: 60%;
    left: 10px;
    z-index: 3;
    width: 100px;
    height: 100px;
    cursor: pointer;

}