.section-header {
    position: relative;
    margin: 40px auto;   
    text-align: center;
    max-width: 1220px;
    line-height: 1;

    .anchor {
        position: absolute;
        width: 40px;
        visibility: hidden;
        top: -174px;
    }

    .inner {
        display: inline-block;
    }

    .main-header {
        display: inline-block;
        font-size: 30px;
        font-weight: 500;
        color: #333;
        letter-spacing: 0;
        margin-bottom: 20px;
        vertical-align: middle;

        &:before {
            content: ' ';
            display: inline-block;
            width: 28px;
            height: 2px;
            background: #333;
            margin-right: 20px;
            vertical-align: middle;
        }

        &:after {
            content: ' ';
            display: inline-block;
            width: 28px;
            height: 2px;
            background: #333;
            margin-left: 20px;
            vertical-align: middle;
        }
    }

    .sub-header {
        display: inline-block;
        font-size: 14px;
        letter-spacing: 0;
        color: rgb(153, 153, 153);
    }

}