<div class="co-tab-menu">
    <ul class="co-menus">
        <li class="co-menu on-log {{#if active_index}} active {{/if}}" data-url="/liveCenter/index.htm" log-name="发现话题" log-region="tabMenu">
            <div class="co-wrap">
                <div class="co-menu-icon"><span class="index-icon"></span></div>
                <div class="co-title">发现话题</div>
            </div>
        </li>
        <li class="co-menu on-log {{#if active_theme}} active {{/if}}" data-url="/wechat/page/theme" log-name="精选专题" log-region="tabMenu">
            <div class="co-wrap">
                <div class="co-menu-icon"><span class="theme-icon"></span></div>
                <div class="co-title">精选专题</div>
            </div>
        </li>
        <li class="co-menu on-log {{#if active_mine}} active {{/if}}" data-url="/live/entity/mine.htm" log-name="个人中心" log-region="tabMenu">
            <div class="co-wrap">
                <div class="co-menu-icon"><span class="mine-icon"></span></div>
                <div class="co-title">个人中心</div>
            </div>
        </li>
    </ul>
</div>