.check-in-camp-join-list-container {
    .my-join-list {
        height: 80px;
        line-height: 80px;
        color: #666666;
        font-size: 28px; /*px*/
        padding-left: 30px;
    }
    .check-in-camp-join-list {
        top: 80px;
    }
}