.item{
    display: inline-block;
    height: 380px;
    width: 280px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    position: relative;
    box-sizing: content-box;
    margin-right: 25px;
    vertical-align: top;

    &:nth-of-type(4n+0) {
        margin-right: 0;
    }

    &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
        margin-bottom: 0;
    }

    &:hover{
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
        // box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.15);

        .read-profit {
            display: inline-block;
            margin-left: 17px;
            color: #fb1818
        }

    }
    img{
        width: 100%;
    }

    .inner {
        &:hover + section {
            .transport-btn {
                background-color: #c9a96e;
                color: #fff;
            }
        }
    }
}

.content{
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    height: 168px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{
        font-size: 14px;
        color: #333;
        margin-bottom: 12px;
        line-height: 18px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        // eslint-disable-next-line
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
        max-height: 36px;
        
        /* autoprefixer: on */
    }
    .livename,.price{
        font-size: 14px;
        color: #999;     
    }
    .profit{
        font-size: 14px;
        color: #999;
        strong{
            color: #c9a96e;
        }

        .read-profit {
            display: inline-block;
            margin-left: 17px;
        }
    }

    .price {
        margin-bottom: 12px;   
        span {
            color: #000;
        }
    }
}

.btns{
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid #f0f0f0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    [class*='-btn']{
        flex: 1;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        border-left: 1px solid #f0f0f0;
        &:first-child{
            border-left: none;
        }
    }

    .view-btn{
        color: #666;

        &:hover {
            background: #fff8ea;
        }
    }
    .transport-btn{
        color: #c9a96e;
        &:hover {
            background-color: #c9a96e;
            color: #fff;
        }
    }
    .promote-btn{
        color: #fa9853;
        &:hover{
            background-color: #fa9853;
            color: #fff;
        }
    }
}

