.doctor-dialog{
    .doctor-wrap{
        display: block;
        text-align: center;
        padding: 80px 0 60px;
    }
    .logo-doctor{
        width: 281px; /*px*/
        height: 327px; /*px*/

        margin: 0 auto 50px auto;
        background: url('./colorful-doctor.png') no-repeat;
        background-size: contain;
    }

    .title{
        display: block;
        text-align: center;
        font-size: 40px;/* px */
        color: #575757;
        line-height: 50px; 
        font-weight: bold;
        margin-top: 40px;
    }
    .descript{
        font-size: 28px;/* px */
        color: #9b9ea3;
        display: block;
        text-align: center;
        line-height: 30px;
        margin-top: 20px;
    }

}