.modal-header {
    height: 124px;
    box-sizing: border-box;
    padding: 41px 0 32px 0;
    text-align: center;
    color: #fff;
    background: #cbaf7d;
    width: 720px;
    background-image: url(./img/universe.png);
    background-size: cover;
}

.main {
    font-size: 20px;
    margin-bottom: 17px;
    line-height: 1;
}

.sub-title {
    font-size: 14px;
    line-height: 1;
}