.try-listen-button {
    display: inline-block;
    box-sizing: border-box;
    line-height: normal;

    .icon-play {
        width: 132px;
        height: 132px;
        display: inline-block;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
        font-size: 60px;
        font-family:PingFangSC-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
    }
}