.co-carousel-container {
    position: relative;
    .carousel-indicator {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px; /*px*/
    }
    .carousel-indicator-item {
        display: inline-block;
        width: 15px;
        height: 6px;
        border-radius: 3px;
        background-color: #ffffff;
        opacity: .3;
        cursor: pointer;
        transition: all .5s;
        margin: 0 3px;
    }
    .carousel-indicator-item.active {
        width: 25px;
        opacity: 1;
    }
}