.multi-lines {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.block-header{
    padding:36rpx 30rpx 36rpx;
    display:flex;
    justify-content: space-between;
    .title{
        font-size:34rpx;
        font-weight: bolder;
    }
    .more-btn{
        color:#999090;
        font-size:26rpx;
    }
}