 
.card-item-content{ 
    margin-top: 20px;
    .fhl-d-desc{
        text-align: justify;
        font-size:30px;   /*px*/
        line-height:46px;   /*px*/
    }
    .fhl-d-img{
        margin-top: 40px;
        &::after{
            content: '';
            display: table;
            clear: both;
        }
        img{
            width:32%;  
            border-radius:4px;
            float: left;
            margin-right: 2%;
            margin-bottom: 2%;
            &:nth-child(3n){
                margin-right: 0;
            }
            &.cic-one{
                width: 57%;
            }
            &.cic-two{
                width: 37%;
            }
        }
    } 
}
 