<view class="operation-view" hidden="{{!isShow}}">
    <view class="operation-tips-modal-bg" catchtap="onHide"></view>
    <view class="operation-list">
        <view class="operation-list-body">
            <navigator class="operation-item" open-type="redirect" url="/pages/intro-topic/intro-topic?topicId={{topicId}}">
                <image class="operation-intro-icon" src="./img/intro-icon.png" mode="widthFix" />
                <text>直播介绍</text>
            </navigator>
            <navigator class="operation-item" open-type="redirect" url="/pages/topic-listening/topic-listening?topicId={{topicId}}&fromDetail=Y">
                <image class="operation-listen-icon" src="./img/listen-icon.png" mode="widthFix" />
                <text>极简模式收听</text>
            </navigator>
        </view>
        <view class="operation-cancel-btn" catchtap="onHide">
            <text>取消</text>
        </view>
    </view>
</view>
