.protocol-page{
    .title{
        color: #575757;
        font-size: 32px;/*px*/
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
    }

    p{
        padding: 5px 0 10px;
        line-height: 30px;/* px */
        font-size: 20px;/* px */
    }
}