.bottom-container-speak{
    background: #fafafa;
    box-shadow: 0 0 4px #ccc;
    position: relative;
    z-index: 3;
    .tab-speak{
        display: flex;
        border-bottom: 1px solid #f0f0f0; /*no*/

        li{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            position: relative;
            height: 100px;
            text-align: center;
            color: #999999;
            font-size: 20px;/*px*/
            cursor:pointer;
            
            .bubbling-tips {
                position: absolute;
                top: -70px;
                padding: 16px 0;
                width: 460px;
                text-align: center;
                background: #FF9F00;
                color: #FFF;
                font-size: 24px; /* px */
                border-radius: 40px;
                animation: bubbling-tips-animation 1s linear infinite alternate;
                
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -26px;
                    border: 15px solid transparent;
                    width: 0;
                    height: 0;
                    border-top-color: #FF9F00;
                    transform: translate(-50%, 0);
                }

                &.bubbling-tips-enter {
                    transition: all .5s;
                    opacity: 0;
                }
                &.bubbling-tips-enter-active {
                    opacity: 1;
                }
                &.bubbling-tips-exit {
                    transition: all .5s;
                    opacity: 1;
                }
                &.bubbling-tips-exit-active {
                    opacity: 0;
                }
                
                @keyframes bubbling-tips-animation {
                    0% {
                        transform: translateY(0);
                    }
                    100% {
                        transform: translateY(-50%);
                    }
                }
            }

            &.red-dot::after{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                left: 50%;
                top:50%;
                background: #ff0f0f;
                border:solid 1px #fff;/* no */
                border-radius: 20px;
                transform: translate(-50%,-50%);
                margin: -30px 0 0 23px;
            }

            .mic {
                width: 28px;
                height: 38px;
                background: {
                    image: url(./img/mic.png);
                    position: center center;
                    size: 100% 100%;
                    repeat: no-repeat;
                }
            }

            .write {
                width: 36px;
                height: 38px;
                background: {
                    image: url(./img/write.png);
                    position: center center;
                    size: 100% 100%;
                    repeat: no-repeat;
                }
            }

            .interactive {
                position: relative;
                width: 38px;
                height: 38px;
                background: {
                    image: url(./img/interactive.png);
                    position: center center;
                    size: 100% 100%;
                    repeat: no-repeat;
                }

                .dotted {
                    position: absolute;
                    display: inline-block;
                    content: ' ';
                    height: 15px;
                    width: 15px;
                    background: #f73657;
                    border-radius: 50%;
                    right: -20px;
                    top: -10px;
                }
            }

            .material {
                width: 32px;
                height: 38px;
                background: {
                    image: url(./img/material.png);
                    position: center center;
                    size: 100% 100%;
                    repeat: no-repeat;
                }
            }

            .opration {
                width: 32px;
                height: 27px;
                background: {
                    image: url(./img/opration.png);
                    position: center center;
                    size: 100% 100%;
                    repeat: no-repeat;
                }
            }

            // .btn-audio {
            //     &:before {
            //         font-size: 54px; /*no*/
            //     }
            // }

            // .btn-opration {
            //     &:before {
            //         font-size: 42px; /*px*/
            //     }
            // }

            // span::before{
            //     font-size: 50px; /*px*/
            // }

            &.on {
                .mic {
                    background-image: url(./img/mic-on.png);
                }

                .write {
                    background-image: url(./img/write-on.png);
                }

                .interactive {
                    background-image: url(./img/interactive-on.png);
                }

                .material {
                    background-image: url(./img/material-on.png);
                }

                .opration {
                    background-image: url(./img/opration-on.png);
                }
                
                .text {
                    color: #0fc853;
                }
            }

            .text{
                margin-top: 8px;
                font-size: 20px;/*px*/
                color: #9a9a9a;
            }

            .first-record{
                position: absolute;
                bottom: 110px;
                left: 50%;
                width: 280px;
                height: 40px;
                cursor: pointer;
                padding: 20px 0;
                text-align: center;
                line-height: 40px;
                color: #fff;
                background: #2984e2;
                border-radius: 6px;
                font-weight: normal;
                font-size: 28px;
                margin-left: -60px;
                z-index: 2;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -18px;
                    left: 60px;
                    border-right: solid 20px transparent;
                    border-left: solid 20px transparent;
                    border-top: 20px solid #2984e2; }

                i {
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    border-radius: 80px;
                    border: solid 12px rgba(48, 133, 221, 0.5);
                    box-shadow: 0 0 1px 18px rgba(48, 133, 221, 0.3);
                    left: 45px;
                    bottom: -100px;

                    &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background: #3085dd;
                    border-radius: 20px; }
                }
            }
        }
    }

}

.media-first-bg{
    position: absolute;
    height: 100%;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    background: {
        image: url(./img/media-guide-bg.png);
        position: center center;
        size: 100% 100%;
        repeat: no-repeat;
    }

}
