.no-distribution-wrap {
    .distribution-options-header {
        padding: 50px 40px 0 40px;
        background: #fff;
    }
    .distribution-options-header-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 21px;
        .title-name {
            font-size: 32px; /*px*/
            color: #333;
            font-weight: 600;
            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .open-btn {
            color: #fff;
            background: #F73657;
            padding: 10px 37px;
            border-radius: 22px;
        }
    }
    .protocol,.proportion {
        color: #999999;
        margin-bottom: 10px;
    }
    .btn-protocol-link {
        color: #F73657;
    }
    .proportion-bold {
        font-weight: bold;
        color: #333;
    }
    .no-link {
        margin-top: 19px;
        padding: 19px 0 25px 0;
        border-top: 1px solid #EEEEEE;
        display: flex;
        justify-content: space-between;
        .enter-btn {
            color:#ccc;
			font-size:20px;/* px */
        }
    }
    .no-open-distribution {
        background: #F5F5F5;
        color: #999;
        padding: 22px 40px 25px 40px;
        .no-open-header {
            margin-bottom: 10px;
        }
        .no-open-ul {
            list-style: none;
            line-height: 1.5;
            li {
                margin-bottom: 30px;
            }
        }
    }
    .live-distribution-dialog {
        .content {
            display: flex;
            height: 334px;
            flex-direction: column;
            .text {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 34px;/*px*/
                color: rgb(45,45,45);
                font-weight: bold;
            }
            .btn-group {
                height: 98px;
                border-top: 1px solid rgb(225,225,225);
                display: flex;
                > span {
                    height: 100%;
                    font-size: 34px;/*px*/
                    color: rgb(91,91,91);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    flex: 1;
                }
                .confirm {
                    border-left: 1px solid rgb(225,225,225);
                    color: #F73657;
                }
            }
        }
    }
    .live-distribution-tip{
        .content{
            overflow: hidden;
            .title{
                color: #404040;
                padding: 40px 0;
                font-weight: bold;
                text-align: center;
                font-size: 30px;/*px*/
            }
            .tip-content {
                padding: 0 40px;
                >p{
                    color: #666;
                    font-size: 26px;/*px*/
                    line-height: 36px;
                    margin-bottom: 16px;
                    a {
                        color: #F73657;
                    }
                }
                .qr-img {
                    text-align: center;
                    margin-top: 10px;
                    padding-bottom: 40px;
                    img {
                        width: 288px;
                        height: 288px;
                    }
                    p {
                        color: #333;
                        font-size: 24px;/*px*/
                    }
                }
            }
        }
	}
}