.ch-to-community{
    .un-right-bottom-icon{
        bottom:32px !important;
        right:32px;
        z-index: 30;
        .cl-td-icon{
            width: 112px;
            height: 112px;
        }
    }
}