<view class="header">
    <view class="card-wrap">
        <view class="shadow-origin"></view>
        <view class="card" style="background-image:url({{topicInfo.backgroundUrl}})">
            <view class="btn-rebate" wx:if="{{isRebate}}" bindtap="tapShareThenDebate"></view>
        </view>
    </view>

    <view class="progress-wrap {{playTime>0?'playing':''}}">
        <view class="play-time"> {{playTimeStr}}</view>
        <view class="bar-wrap">
            <slider
                 min="{{0}}"
                 max="{{100}}"
                 step="{{1}}"
                 value="{{ratio}}"
                 color="#ebebeb"
                 activeColor="#ef5670"
                 bindchange="onSliderChange"
            />
        </view>
        <view class="duration"> {{durationStr}}</view>
    </view>

    <form bindsubmit="onFormSubmit" report-submit>
        <!-- 为什么要多嵌一个view呢？因为form组件会多渲染一层span，导致对它用flex完全不能生效 = = -->
        <view  class="controls">
            <view class="prev-btn disabled"></view>
            <button 
                class="play-btn {{status==='playing'?'status-playing':'status-paused'}}" 
                animation="{{playBtnAnimation}}"
                formType="submit"
                bindtap="onPlayClick"
            />
            <view class="next-btn disabled"></view>

            <button class="backto-topic" bindtap="onRedirectClick" formType="submit">
                <image 
                    class="icon-backto-topic-small" 
                    src="../../img/icon-backto-topic-small.png?__inline" 
                    mode="widthFix"
                ></image>
                <view class="text">上课模式</view>
            </button>
        </view>
    </form>
</view>