.un-icon-search{
    height: 64px;
    background: url('https://img.qlchat.com/qlLive/business/346HZK4F-IJS7-NHEA-1567061059525-Z2H6Y8DXUNVT.png') no-repeat center 14px;
    background-size: 40px;
    width: 90px;
}