.other-push{
    background-color: #fff;
    height: 100%;
    position: relative;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    .main-box{
        flex: 1;
        height: 100%;
        >.header{
            padding: 30px;
            font-size: 26px;/*px*/
            color: #333;
            overflow: hidden;
            .btn-example{
                float: right;
                color: #F73657;
                font-size: 24px;/*px*/
                border-radius: 40px;
            }
        }
        .info-part{
            margin: 0 30px 30px;
            padding-top: 30px;
            border-top: 1px solid #EEEEEE; /*no*/
            >.title{
                color: #666666;
                font-size: 32px;/*px*/
                // height: 90px;
                padding: 20px 0;
                .tips{
                    color: #999;
                    font-size: 24px;/*px*/
                }
                i{
                    color: #CCCCCC;
                    font-size: 24px;/*px*/
                    font-style: normal;
                    float: right;
                }
            }
            input{
                padding: 30px 0;
                color: #333;
                font-size: 32px;/*px*/
                width: 100%;
                background: #fff;
                border: none;
                outline: none;
                &::placeholder{
                    color: #ccc;
                }
            }
            &.btn-pic-select{
                display: flex;
                position: relative;
                .title{
                    flex:1;
                }
                .pic{
                    width: 200px;
                    height: 125px;
                    background: #EEEEEE;
                    border-radius: 4px;
                    background-image: url('./img/icon-add.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                #upload-image{
                    position: absolute;
                    top:0;
                    left:0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
        }
    }
    
    >.footer {
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 40px;
        .btn-submit {
            flex: 1;
            height: 76px;
            border-radius: 38px;
            background-color: #f73657;
            font-size: 32px;/*px*/
            color: #fff;
            outline: none;
            border: none;
            &.disabled {
                background-color: #eee;
                color: #999;
                cursor: auto;
            }
        }
    }
    
}