<!-- channel info -->
<div class="live-section block-section">
    <header class="section-header">
        <a href="/live/${entityPo.id}.htm">
            <span class="name"><i>所屬頻道</i>頻道名稱</span>
        </a>
    </header>
    <div class="flex-container">
        <a class="flex-item num" href="/live/${entityPo.id}.htm">
            <div>
                <h2>39</h2>
                <p>话题数</p>
            </div>
        </a>
        <a class="flex-item num" href="/live/${entityPo.id}.htm">
            <div>
                <h2 id="join-count">12213</h2>
                <p>報名人数</p>
            </div>
        </a>
        <!-- authentication -->
        <a class="flex-item num" href="/live/${entityPo.id}.htm">
            <div>
                <h2>12213</h2>
                <p>頻道票價</p>
            </div>
        </a>
    </div>
</div>