<div class="member-dialog">
    <header class="member-dialog-title">会员详情</header>

    <main class="member-dialog-main">
        您的会员到{{format date 'datetime'}}过期
    </main>

    <footer>
        <span class="member-dialog-btn">续费</span>
    </footer>
</div>