.topic-consult-module-v2{
    .consult-count {
        margin-left: 10px;
        color: #f73657;
    }


    .btn-more-consult{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;/* px */
        color: #b2b2b2;
        height: 120px;/* px */
        background: #fff;
        cursor: pointer;
    }
}