.co-empty{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    text-align: center;
    color: #cccccc;
    font-size: 28px; /*px*/

    .co-empty-box{
        padding: 0 0 50px;
    }
    img{
        display: block;
        width: 100%;
    }
}