.video-player-wrap{
	position:relative;

	.placeholder{
		padding-top:56.25%;
		background:#000 no-repeat center / cover;
		filter:blur(6px);
	}

	.next-tip{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		display:flex;
		align-items: center;
		justify-content: center;
		color:#fff;
		font-size:26px;
		z-index: 5;
	}

	.count-down-box-wrap{
		padding-top:56.25%;
		position:relative;
		.count-down-box-poster{
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			background:#000 no-repeat center / cover;
		}
	}

	.count-down-box{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index: 2;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background:rgba(#000, .6);
		.tip{
			color:#fff;
			font-size:28px;
			display: flex;
			align-items: center;
			&:before,
			&:after{
				height:1px;/*no*/
				width:49px;
				background:#fff;
				content:'';
			}
			&:before{
				margin-right:20px;
			}
			&:after{
				margin-left:20px;
			}
		}
		.clocking{
			display: flex;
			align-items: center;
			color:#9fa9ad;
			font-size:40px;
			margin-top:50px;
			span{
				font-size:40px;
			}
			.block{
				width:100px;
				height:72px;
				border-radius: 10px;
				font-size:22px;
				background:rgba(#fff, .8);
				display:flex;
				align-items: center;
				justify-content: center;
				color:#333;
				.c{
					display:flex;
					align-items: flex-end;
				}
			}
		}
	}

	.seek-tips {
		position: absolute;
		bottom: 80px;
		left: 20px;
		background: rgba(0, 0, 0, .6);
		color: #FFF;
		font-size: 24px; /* px */
		padding: 10px 20px;
		border-radius: 5px;
		opacity: 0;
		animation: seek-tips 1.8s linear;
		z-index: 10;
	}

	@keyframes seek-tips {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}