.course-intro-container-v2{
    background: #fff;
    padding: 0 40px;
    font-size: 32px;/* px */
    line-height: 44px;/* px */
    color: #333;

    .title{
        font-size: 32px;/* px */
        color: #424242;
        font-weight: bold;
        height: 50px;
        display: flex;
        align-items: center;
        padding-top: 32px;
    }

    .audio-intro{
        display: flex;
        align-items: center;
        background: #f8f8f8;
        border-radius: 76px;
        padding:0 40px;
        height: 76px;
        margin-top: 40px;

        img{
            width: 50px;
            height: 50px;
            display: block;
            flex-shrink: 0;
        }

        .content{
            flex: 1;
            font-size: 24px;/* px */
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0 40px 0 20px;
        }

        .second{
            flex-shrink: 0;
            font-size: 24px;/* px */
            color: #b2b2b2;
        }

        .icon-audio {
            width: 36px;
            height: 36px;
            display: block;
            background-repeat: no-repeat;
            background-position: 0 center;
            background-image: url("./img/course_icon_listenlong.png");
            background-size: contain;
            &.is-playing {
                @keyframes is-playing {
                    33% {
                        background-image: url("./img/course_icon_listenshort.png");
                    }
                    66% {
                        background-image: url("./img/course_icon_listenmid.png");
                    }
                    99% {
                    }
                }
                animation: is-playing 1s infinite;
            }
        }
    }


    .speaker{
        padding-top: 33px;
        white-space: pre-wrap;
        word-break: break-word;
    }
    .speaker-info{
        color: #999;
        padding-top: 8px;
        white-space: pre-wrap;
        word-break: break-word;
    }

    .intro-list{
        &.fold{
            height: 150px;
            overflow: hidden;
            mask-image:linear-gradient(#000 calc(100% - 200px),transparent calc(100% - 28px));
        }

        pre{
            padding-top: 33px;
            white-space: pre-wrap;
            word-break: break-word;
            min-height: 20px;
        }
        img{
            max-width: 100%;
            // display: block;
            margin: 0 auto;
        }
    }

    .none-intro{
        text-align: center;
        height: 120px;/* px */
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b0b0b0;
        font-size: 22px;/* px */
    }

    .btn-toggle-intro{
        position: relative;
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 28px;/* px */
        color: #999090;
        cursor: pointer;
        background: #fff;
        margin-top: -3px;/* no */

        i{
            display: inline-block;
            margin-left: 5px;
        }
    }

    .btn-toggle-intro-placeholder {
        height: 40px;
    }

    .content {
        font-size: 32px; /*px*/
    }
}