.exam-analysis {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .score-tips {
        background: rgba(255, 159, 0, .2);
        color: #FF9F00;
        font-size: 28px; /* px */
        padding: 24px 0;
        text-align: center;
        font-weight: bold;
    }
    
    .container {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 40px;
        box-sizing: border-box;

        .exam-analysis-item {
            margin-bottom: 40px;
        }

    }

    .exam-analysis-item .exam-item .exam-item-header .exam-item-type s {
        color: #FF9F00;
        text-decoration: none;
    }

    .footer {
        flex-shrink: 0;
        height: 100px;
        padding: 12px 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background: #FFF;

        .btn {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-radius: 40px;
            font-size: 32px; /* px */
            box-sizing: border-box;
            border: 1px solid #F73657;
            color: #F73657;

            &.mr20 {
                margin-right: 20px;
            }

            &.exam {
                background: #F73657;
                color: #FFF;
            }
        }
    }
}