.profiles-list {
    display: block;
    width: 100%;
    padding:30px;
    box-sizing: border-box;

    .profiles-item {
        display: flex;
        background: #fff;
        border: solid 1px #e5e5e5;/*no*/
        position: relative;
        min-height: 120px;
        margin-bottom: 30px;

        .item-main {
            flex: 1;
            width: 100%;
            box-sizing: border-box;

            textarea {
                display: block;
                min-height: 100px;
                width: 100%;
                max-height: 200px;
                text-align: left;
                border: none;
                outline: none;
                padding: 10px;
                resize: none;
                font-size: 30px;/*px*/
            }

            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }

        }


        .control-bar{
            width: 64px;
            height: auto;
            background: #fcfcfc;
            border-left: solid 1px #e5e5e5;/*no*/
            box-sizing: border-box;

            span{
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;

                &.up,
                &.down{
                    flex: 1;
                }

                &.del{
                    display: block;
                    height: 60px;
                }

                &::before{
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }

    }


}
