.video-speak-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    


    // 消息流块
    .speak-main-flex{
        flex:1;
        background:rgb(245, 245, 245);
        .topic-list-container {
            padding-bottom: 50px;
        }
    }

    .speak-container {
        display: block;
        padding: 10px 0;
        // transform: translate3d(0, 0, 0);
        position: relative;

        .date-bar{
            display: block;
            color: #b3b3b3;
            height: 30px;
            line-height: 30px;
            margin: 0px 0 30px;
            text-align: center;
            font-size: 22px;/*px*/
        }

        .speak-flex-main{
            display: flex;
            padding-right: 100px;

            // 左边头像区域
            .head-box{
                display: block;
                text-align: center;
                padding: 0 20px;
                .speak-head{
                    display: block;
                    height: 80px;
                    width: 80px;
                    border-radius: 80px;
                    background-color: #cccccc;

                    img {
                        display: inline-block;
                        width: 100%;
                        border-radius: 80px;
                        height: 100%;
                    }
                }

                .btn-like-tip{
                    display: inline-block;
                    position: relative;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 80px;
                    background-color: #edcb91;
                    color: #b98d42;
                    font-size: 24px;/*px*/
                    margin-top: 10px;
                    cursor: pointer;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 80px;
                        height: 80px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }

            }

            // 右边消息部分
            .flex-box {
                flex: 1;
            }

            .msg-box {
                position: relative;
                padding-top: 40px;
                display: inline-block;
                $green-one:#b0e75a;
                $green-two:#9cd543;


                .name {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    height: 30px;
                    line-height: 30px;
                    color: #999;
                    font-size: 24px;/*px*/
                    margin-bottom: 10px;
                    white-space: nowrap;
                    b {
                        font-weight: normal;
                        color:#4c4c4c;
                        padding-right: 10px;
                        display: inline-block;
                        max-width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        vertical-align: top;
                    }

                    var {
                        display: inline-block;
                        max-width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        vertical-align: top;
                        padding-left: 20px;
                    }
                    .blue {
                        color: #76b6f9;
                    }
                }

                .feedback {
                    display: inline-block;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    padding: 10px;
                    line-height: 40px;
                    left: - 75px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #cccccc;
                    border-radius: 100px;
                    font-size: 22px;
                    cursor: pointer;
                    color: #ffffff;
                    white-space:  nowrap;
                }

                // 点赞和撤回
                .control-box {
                    display: block;
                    justify-content: space-between;
                    align-items: center;
                    height: 30px;
                    line-height: 30px;
                    margin-top: 15px;
                    font-weight: normal;
                    color: #b3b3b3;
                    font-size: 22px;/*px*/
                    text-align: left;

                    .whisper-badge {
                        display: inline-block;
                        color: #fff;
                        background: #e0e0e0;
                        padding: 4px 20px;
                        border-radius: 4px;
                        font-size: 24px; /*px*/
                    }

                    .whisper-icon {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 40px;
                        color: #fff;
                        background: #c5d8e1;
                        margin-left: 20px;
                        vertical-align: top;
                        cursor: pointer;
                    }

                    .btn-revoke{
                        position: relative;
                        cursor: pointer;
                        float: right;

                        &:before {
                            position: absolute;
                            content: "";
                            width: 80px;
                            height: 60px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }

                    .action-btn{
                        width: 40px;
                        height: 40px;
                        margin: 0 0 0 auto;
                        position: relative;
                        background: url(./img/icon-control.png) no-repeat center / 100%;                     

                        .manage-box {
                            height: 60px;
                            position: absolute;
                            right: 0;
                            top: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba(0, 0 , 0, .6);
                            border-radius: 10px;
                            z-index: 99;

                            &:after {
                                width: 0;
                                height: 0;
                                content: '';
                                border-bottom: 10px solid rgba(0,0,0,.5);
                                border-right: 10px solid transparent;
                                border-left: 10px solid transparent;
                                position: absolute;
                                bottom: 60px;
                                right: 8px;
                            }
                              
                            &:hover {
                                cursor: pointer;
                            }

                            span {
                                width: 96px;
                                text-align: center;
                                color: #fff;
                            }

                            .mute {
                                border-right: 1px solid rgba(255,255,255,.4); /*no*/
                            }
                        }
                    }

                    .btn-like{
                        position: relative;
                        line-height: normal;
                        display: inline-flex;
                        flex: 1;
                        align-items: center;
                        cursor: pointer;

                        &:after {
                            position: absolute;
                            content: "";
                            width: 80px;
                            height: 60px;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }

                        &.action {
                            color: #edcb91;
                        }
                    }

                    .btn-like::before{
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 10px;
                        font-size: 28px; /*px*/
                    }
                }

                /*** 文本消息类型 start ***/
                .msg-text {
                    position: relative;
                    display: inline-block;
                    min-width: 80px;
                    background: $green-one;
                    border-radius:6px;
                    color: #505559;
                    line-height: 40px;
                    font-size: 30px;/*px*/
                    padding: 10px;
                    word-break: break-all;
                    font-weight: normal;

                    .div-p {
                        padding: 10px;
                        text-align: left;
                        white-space: pre-wrap;
                        word-break: break-word;

                        a {
                            color: #3b87bc;
                        }
                    }
                    .div-p:nth-child(2) {
                        border-top: solid 1px #99cc48;/*no*/
                    }

                    b {
                        color: #333;
                        padding: 0 8px 0 0;
                        font-weight: normal;
                    }



                    .ask-label{
                        border: 1px solid #00a2ff;/*px*/
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        vertical-align: middle;
                        font-weight: 400;
                        background: #ecf8ff;
                        color: #00a2ff;
                        display: inline-block;
                        font-size: 18px;
                        border-radius: 5px;
                        margin-right: 10px;
                    }


                }
                /*** 文本消息类型 end ***/

                /*** 音频消息类型 start ***/
                .msg-audio {
                    position: relative;
                    display: inline-block;
                    min-width: 80px;
                    height: 50px;
                    background: $green-one;
                    border-radius:6px;
                    color: #505559;
                    font-size: 32px;/*px*/
                    padding: 15px;
                    word-break: break-all;
                    font-weight: normal;

                    .btn-play-cover{
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        cursor: pointer;
                        opacity: 0;
                        z-index: 2;

                    }
                    .btn-play {
                        display: inline-block;
                        width: 46px;
                        height: 46px;
                        border-radius: 100px;
                        font-size: 20px;
                        line-height: 46px;
                        color: #fff;
                        text-align: center;
                        border: solid 2px #fff;/*no*/
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        flex-shrink: 0;
                        vertical-align: top;
                    }
                    .audio-sendding-conent {
                        display: inline-block;
                        height: 50px;
                        width: 100px;
                        line-height: 50px;
                        font-size: 20px;/*px*/
                        padding-left: 20px;
                        color:#fff;
                    }
                    .btn-resend{
                        position: absolute;
                        right: -60px;
                        top: 50%;
                        line-height: 60px;
                        cursor: pointer;
                        font-size: 40px;
                        color: #f75954;
                        transform: translateY(-50%);
                    }

                    .audio-bar {
                        position: relative;
                        display: inline-block;
                        width: 100px;
                        height: 100%;
                        margin: 0 20px;

                        &::before {
                            position: absolute;
                            content: "";
                            display: block;
                            height: 4px;
                            width: 100%;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background: $green-two;
                            border-radius: 10px;
                        }

                        .audio-bar-playing {
                            position: absolute;
                            content: "";
                            display: block;
                            height: 4px;
                            width: 50%;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background: #fff;
                            border-radius: 10px;
                        }

                        .btn-play-block {
                                position: absolute;
                                display: block;
                                height: 14px;
                                width: 14px;
                                left: 0;
                                top: 50%;
                                transform: translate(-50%,-50%);
                                background-color: #fff;
                                border: 6px solid rgba(255,255,255,.2);
                                border-radius: 20px;
                                box-sizing: content-box;
                                background-clip: content-box;

                                &::before {
                                    content: '';
                                    width: 60px;
                                    height: 60px;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%,-50%);
                                }

                                &::after {
                                    display: none;
                                    content: '';
                                    width: 1px;/*no*/
                                    height: 80px;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    background-color: #fdb200;
                                    transform: translate(-50%,-50%);
                                }

                                &.active::after{
                                    display: block;
                                }
                                &.active{
                                    b{
                                        display: block;
                                    }
                                }
                                b{
                                    display: none;
                                    position: absolute;
                                    top: -120px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    background-color: #fdb200;
                                    color: #fff;
                                    width: 140px;
                                    height: 64px;
                                    text-align: center;
                                    border-radius: 100px;
                                    line-height: 64px;
                                    color: #fff;
                                    font-size: 34px;
                                    font-weight: normal;

                                    &::before {
                                        content: '';
                                        width: 0;
                                        height: 0;
                                        border-style: solid;
                                        border-width: 12px 10px 0 10px;
                                        border-color: #fdb200 transparent transparent transparent;
                                        display: block;
                                        position: absolute;
                                        bottom: -12px;
                                        left: 50%;
                                        transform: translateX(-50%);
                                    }


                                }

                        }

                        &.type-one {
                            width: 80px;
                        }
                        &.type-two {
                            width: 160px;
                        }
                        &.type-three {
                            width: 240px;
                        }

                        &.hide {
                            opacity:0;
                        }


                    }

                    .audio-second {
                        display: inline-block;
                        vertical-align: top;
                        height: 50px;
                        line-height: 50px;
                        font-size: 28px;/*px*/
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        top: -6px;
                        width: 16px;
                        height: 16px;
                        border-radius: 20px;
                        background: #f94747;
                        right: -6px;

                    }
                    &.isOld::before {
                        display: none;
                    }

                    .isReaded {
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        font-size: 30px;
                        color: #b3b3b3;
                        right: -60px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .btn-loading{
                        display: inline-block;
                        width: 46px;
                        height: 46px;
                        margin: 2px;/*no*/
                        vertical-align: top;

                        svg{
                            width: 100%;
                            height: 100%;
                        }
                        
                            
                        svg path,
                        svg rect{
                        fill: #FFFFFF;
                        }
                    }

                }
                /*** 音频消息类型 end ***/


                /*** 图片消息类型 start ***/
                .msg-img {
                    display: inline-block;
                    max-width: 480px;
                    border-radius:6px;
                    overflow: hidden;

                    img{
                        display: block;
                        width:100%;
                        // min-height: 300px;
                    }
                }
                /*** 图片消息类型 end ***/

                /*** 红包类型 start ***/
                .redpack-container {
                    height: 154px;
                    width: 456px;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;

                    .redpack-remark {
                        position: relative;
                        height: 118px;
                        border-radius: 10px 10px 0 0;
                        padding-left: 110px;
                        padding-right: 30px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        background: {
                            color: #FFAD5D;
                            image: url(./img/icon-redpack.png);
                            position: 30px center;
                            size: 59px 72px;
                            repeat: no-repeat;
                        }

                        &::before {
                            content: '';
                            border-top: 12px solid transparent;
                            border-right: 12px solid #FFAD5D;
                            border-bottom: 12px solid transparent;
                            border-left: 12px solid transparent;
                            position: absolute;
                            left: -20px;
                            top: 16px;
                        }

                        .remark {
                            color: #fff;
                            font-size: 30px;/*px*/
                            line-height: 38px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            margin-bottom: 4px;
                        }

                        .tip {
                            font-size: 24px;/*px*/
                            color: #fff;
                        }
                    }

                    .redpack-tip {
                        flex: 1;
                        font-size: 18px;/*px*/
                        color: #666;
                        padding-left: 24px;
                        display: flex;
                        align-items: center;
                        border-radius: 0 0 10px 10px;
                        background-color: #fff;
                    }

                    &.expiry {
                        .redpack-remark {
                            background-color: #FFD1A4;
                            &::before {
                                border-right: 12px solid #FFD1A4;
                            }
                        }
                        .redpack-tip{
                            color: #ccc;
                        }
                    }

                    &.success {
                        .redpack-remark {
                            background-color: #FFD1A4;
                            background-image: url(./img/icon-open-redpack.png);
                            &::before {
                                border-right: 12px solid #FFD1A4;
                            }
                        }
                        .redpack-tip{
                            color: #ccc;
                        }
                    }

                    &.received {
                        .redpack-remark {
                            background-color: #FFD1A4;
                            background-image: url(./img/icon-open-redpack.png);
                            &::before {
                                border-right: 12px solid #FFD1A4;
                            }
                        }
                        .redpack-tip{
                            color: #ccc;
                        }
                    }
                    &.empty {
                        .redpack-remark {
                            background-color: #FFD1A4;
                            background-image: url(./img/icon-open-redpack.png);
                            &::before {
                                border-right: 12px solid #FFD1A4;
                            }
                        }
                        .redpack-tip{
                            color: #ccc;
                        }
                    }
                }

                // 领取红包之后的提示
                .c-open-redpack-tip,.b-open-redpack-tip {
                    margin: 20px 0;
                    display: inline-block;
                    height: 32px;
                    line-height: 32px;
                    background-color: #fff;
                    border-radius: 16px;
                    padding-left: 50px;
                    padding-right: 20px;
                    font-size: 22px;/*px*/
                    color: #666;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    cursor: pointer;
                    background: {
                        image: url(./img/icon-small-redpack.png);
                        position: 20px center;
                        size: 20px 24px;
                        repeat: no-repeat;
                    }
                    em {
                        color: rgb(53,97,157);
                    }
                }
                /*** 红包类型 end ***/
                
                /*** 课程卡类型 start ***/
                .msg-course-card {
                    display: inline-block;
                    width: 458px;
                    border-radius: 6px;
                    border: 1px solid #BBB;
                    padding: 20px 20px 10px;
                    box-sizing: border-box;
                    background: #FFF;
                    overflow: hidden;

                    .title {
                        font-size: 24px; /* px */
                        color: #333;
                        line-height: 1.4;
                        font-weight: bold;
                        max-width: 100%;
                    }

                    img{
                        margin-top: 20px;
                        display: block;
                        width: 418px;
                        height: 262px;
                        border-radius: 6px;
                        overflow: hidden;
                    }
                    .teacher-recommend {
                        margin-top: 10px;
                        color: #999;
                        font-size: 22px; /* px */
                        display: flex;
                        align-items: center;

                        & > span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 28px;
                            height: 28px;
                            background: #FF9F00;
                            color: #FFF;
                            margin-right: 5px;
                            border-radius: 4px;
                            font-size: 18px; /* px */
                            line-height:normal;
                        }
                    }
                }
                /*** 课程卡类型 end ***/
            }

        }

        /****** 右消息块 start ******/
        &.right{
            .speak-flex-main {
                padding: 0 0 0 100px;
                text-align: right;

                .msg-box {
                    .name{
                        left: auto;
                        right: 0;
                    }

                    .msg-audio{
                        background: #fff;

                        .btn-play {
                            border-color: #4d4d4d;
                            color: #4d4d4d;
                        }

                        .btn-play-block{
                            background: #4d4d4d;
                            border-color: rgba(219,219,219,.5);
                            background-clip: content-box;
                        }

                        .audio-bar{
                            &::before{
                                background: #cccccc;
                            }
                            .audio-bar-playing{
                                background: #4d4d4d;
                            }
                        }

                        .isReaded{
                            left : -60px;
                            right : auto;
                        }

                        .btn-loading{
                            svg path,
                            svg rect{
                            fill: #4d4d4d;
                            }
                        }

                    }


                    .msg-text {
                        background: #fff;
                        color: #333333;
                    }
                }

            }




        }
        /****** 右消息块 end ******/
        /****** 金句 start ******/
        &.isGold{
            $gold-one:#f5d170;
            $gold-two:#e8be4d;
            .speak-flex-main {
                .msg-box {
                    .msg-audio{
                        background: $gold-one ;

                        .btn-play-block{
                            background-color: #fff;
                            border-color: rgba(255,255,255,.2);
                            background-clip: content-box;
                        }

                        .audio-bar{
                            &::before{
                                background: $gold-two ;
                            }
                            .audio-bar-playing{
                                background: #fff;
                            }

                        }

                        .btn-play {
                            border-color: #fff;
                            color: #fff;
                        }

                        .btn-loading{
                            svg path,
                            svg rect{
                            fill: #fff;
                            }
                        }
                    }


                    .msg-text{
                        background: $gold-one ;

                        .div-p:nth-child(2) {
                            border-top-color: $gold-two;
                        }
                    }

                    .doc-container{
                        background: $gold-one ;
                    }

                    .video-item-container iframe{
                        border:solid 5px $gold-one;
                        border-radius: 10px;
                    }
                }

            }
        }
        /****** 金句 end ******/


    }



    .doc-container {
        display: block;
        padding: 16px 24px;
        background-color: #ffffff;
        border-radius: 6px;

        .doc-content {
            display: flex;
            padding: 10px;
            position: relative;
            min-width: 300px;
            flex-direction: row;

            .doc-type-img {
                display: inline-block;
                width: 120px;
                height: 120px;
            }

            .doc-base-info {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding-left: 20px;

                .doc-name {
                    color: #333333;
                    font-size: 34px; /*px*/
                    line-height: 40px; /*px*/
                    height: 80px; /*px*/
                    text-overflow: ellipsis;
                }

                .doc-size {
                    font-size: 24px; /*px*/
                    line-height: 40px; /*px*/
                    color: #909499;
                    margin-top: 20px;
                }
            }

        }

        .doc-opt {
            display: block;
            font-size: 24px; /*px*/
            line-height: 40px; /*px*/

            .doc-amount {
                color: #4d4d4d;
            }
            .doc-money {
                color: #999999;
                margin-left: 10px;
            }

            .doc-dowload-btn {
                float: right;
                color: #f73657;
                cursor: pointer;
            }
        }
    }

    // 提示类消息
    .tips-container{
        display: block;
        margin: 0 50px;
        text-align: center;
        color: #fff;
        padding: 10px 0;

        &.hide{
            display: none;
        }
        .main{
            display: inline-block;
            height: 30px;
            line-height: 30px;
            max-width: 100%;
            font-size: 24px;/*px*/
            background: rgba(0,0,0, .2);
            padding:5px 10px;
            border-radius: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .fix-lucky-msg-bg {
            background: #edcb91 !important;
        }

        .lucky-msg{
            display: flex;

            &::before{
                content: "";
                display: inline-block;
                width: 30px;
                height: 30px;
                background:url(./img/icon-lucky-money-2.png) center center no-repeat;
                background-size: 100%;
                flex-shrink: 0;
            }
            var{
                min-width: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 5px;
            }
            b{
                font-weight: normal;
                flex-shrink: 0;
            }

            .money {
                color: #ff5763;
            }
        }
    }

    /*** 提示消息类型 start ***/
    .speak-item-tip {
        margin: 20px 0;
        text-align: center;

        span {
            display: inline-block;
            line-height: 48px; /*px*/
            background-color: #cccccc;
            opacity: 0.5;
            border-radius: 4px;
            padding: 0 10px;
            color: #ffffff;
        }
    }
    /*** 提示消息类型 end ***/

    .topic-thoughts{
        display: inline-block;
        margin: 0 20px;
        line-height: 40px;
        text-align: center;
        font-size: 26px;/* px */
        color:#424242;
        background: #fff;
        padding: 10px 30px;
        border-radius: 3px;
        .content{
            display: inline-block;
            white-space: nowrap;
        }
        .btn{
            display: inline-block;
            width: 120px;
            height: 45px;
            color: #fff;
            background: #ef5670;
            border-radius: 3px;
            font-size: 22px;/* px */
            text-align: center;
            line-height: 45px;
            margin: 10px 20px;
            cursor: pointer;
            flex-shrink: 0;
        }
        
    }
}

.lucky-money-dialog{

    .lucky-money-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 4;
    }
    
    .lucky-money-main{
        position: absolute;
        top:50%;
        left: 50%;
        width: 90%;
        max-width: 500px;
        transform: translate(-50%,-50%);
        background:#fff url(./img/bg-lucky-money.png) center -100px no-repeat ;
        background-size:auto 250px ;
        padding: 80px 0 30px;
        border-radius: 5px;
        z-index: 5;

        .close-lucky-money{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            border: solid 1px #fff;/*no*/
            border-radius: 30px;
            cursor: pointer;
        }

        .pay-for-head{
            display: block;
            width: 120px;
            height: 120px;
            margin:0 auto;
            border-radius: 120px;

        }
        .pay-for-name{
            display: block;
            margin: 0 auto;
            text-align: center;
            color: #333;
            font-size:24px;
            margin-top: 10px;
            max-width: 400px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .lucky-tips{
            display: block;
            color: #999;
            font-size:20px;
            text-align: center;
            margin-top: 10px;
            padding: 0 40px;

            p{
                display: inline-block;
                text-align: left;
            }
        }

        .price-list{
            position: relative;
            display: block;
            margin: 20px 30px 0 ;
            padding: 20px 0;

            &::before{
                content: '';
                position:absolute; 
                display: block;
                margin: 0 10px;
                height: 1px;/*no*/
                top: 0;
                width: 100%;
                background-color: #e5e5e5;
            }
            &::after{
                content:'￥'; 
                position:absolute; 
                left: 50%; 
                top: 0; 
                display:block; 
                text-align: center;
                width: 20px; 
                height: 20px; 
                line-height: 20px; 
                margin: -10px 0 0 -10px; 
                font-size: 10px; 
                color: #ccc; 
                border-radius: 20px; 
                border: solid 1px #ccc; 
                background: #fff; 
                box-shadow: 0 0 0 5px #fff;
            }

            li{
                display: inline-block;
                width: 33%;
                box-sizing: border-box;
                padding: 10px;
                cursor: pointer;

                p{
                    width: 100%;
                    height: 80px;
                    line-height: 80px;
                    display: block;
                    color: #d74751;
                    font-size: 24px;
                    text-align: center;
                    border: 1px solid #d74751;/*no*/
                    border-radius: 5px;
                    box-sizing: border-box;
                    
                }
            }

        }

        .other-money{
            display: block;
            height: 40px;
            line-height: 40px;
            color: #0095dd;
            font-size: 25px;/*px*/
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }

        .reward-pic {
            margin: 25px auto;
            display: block;
            width: 440px;
        }
    }

    .hide {
        display: none;
    }

    .other-money-dialog {
        position: absolute;
        top: 0;
        z-index: 5;
        background-color: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .main {
            border-radius: 15px;
            border: 1px solid #999;
            width: 75%;
            max-width: 600px;
            background-color: #fff;
            font-size: 27px;/*px*/

            .header {
                position: relative;
                height: 100px;
                width: 100%;
                border-bottom: 1px solid #999;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon_cancel {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 40px;
                    color: #999;
                }
            }

            .body {
                height: 240px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .input-area {
                    width: 85%;
                    position: relative;
                    margin-bottom: 20px;
                    input {
                        border: 1px solid #999;
                        width: 100%;
                        height: 80px;
                        font-size: 30px;/*px*/
                        padding-left: 180px;
                    }
                    span {
                        position: absolute;
                        top: 50%;
                        left: 20px;
                        transform: translateY(-50%);
                    }
                }

                .confirm-btn {
                    width: 85%;
                    height: 80px;
                    background-color: #00acff;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
            

    }
}

.redpack-dialog-container{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    .bg {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.6);
    }
    .open-redpack-dialog-content{
        background: {
            image: url(./img/bg_redpack.png);
            position: center center;
            size: 100% 100%;
            repeat: no-repeat;
        }
        width: 618px;
        height: 798px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        padding-top: 140px;
        box-sizing: border-box;
        text-align: center;

        .open-redpack-normal {
            .richer-img {
                height: 100px;
                width: 100px;
                border-radius: 100px;
                border: 1px solid #999;/*px*/
            }
            .whose-redpack {
                font-size: 30px;/*px*/
                color: #666;
                line-height: 42px;
                margin: 10px auto 0;
                max-width: 460px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            .money-container {
                margin-top: 20px;
                font-size: 86px;/*px*/
                color: #333;
                font-weight: bold;
                line-height: 86px;
                height: 86px;
                span {
                    font-size: 30px;/*px*/
                }
            }
        }

        .double {
            width: 204px;
            height: 204px;
            cursor: pointer;
            background: {
                image: url(./img/double.png);
                position: center center;
                size: 100% 100%;
                repeat: no-repeat;
            }
            margin: 30px auto;
        }

        .redpack-qrcode-container {
            margin: 30px auto;
            width: 410px;
            height: 180px;
            border: 1px solid #E6CEA0;/*no*/
            border-radius: 11px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            box-sizing: border-box;

            .img-container {
                height: 160px;
                width: 160px;
                margin-right: 10px;
            }
            
            .qrcode {
                height: 100%;
                width: 100%;
                margin: -300px -300px -300px -100px;
                padding: 300px 300px 300px 100px;
                z-index: 6;
            }

            .qrcode-tip {
                text-align: left;
                p {
                    line-height: 40px;
                    white-space: nowrap;
                    font-size: 28px;/*px*/
                    color: #666;

                    &.red {
                        font-weight: bold;
                        color: #EB5F39;
                    }
                }
            }
        }

        .open-redpack-tip {
            position: absolute;
            width: 100%;
            color: #E6CEA0;
            font-size: 24px;/*px*/
            text-align: center;
            bottom: 30px;
            left: 0;
            height: 34px;
            line-height: 34px;
        }
    }
    .redpack-dialog-content {
        background: {
            image: url(./img/bg_open_redpack.png);
            position: center center;
            size: 100% 100%;
            repeat: no-repeat;
        }
        width: 618px;
        height: 786px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        padding-top: 90px;
        box-sizing: border-box;
        text-align: center;

        .live-info {
            text-align: center;
            .richer-img {
                height: 120px;
                width: 120px;
                border-radius: 120px;
            }
            .live-name {
                margin: 10px auto 0;
                font-size: 34px;/*px*/
                color: #EACE9A;
                line-height: 48px;
                width: 500px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
        }
        .redpack-status {
            margin-top: 70px;
            color: #EACE9A;
            font-size: 34px;/*px*/
            line-height: 48px;
        }
        .tip {
            color: #EACE9A;
            font-size: 28px;/*px*/
        }
        .redpack-remark {
            margin: 40px auto 0;
            color: #EACE9A;
            font-size: 34px;/*px*/
            line-height: 48px;
            width: 500px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }

        .open {
            margin: 40px auto;
            background: #E6CEA0;
            box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
            height: 184px;
            width: 184px;
            border-radius: 184px;
            line-height: 184px;
            color: #2B3033;
            font-size: 70px;/*px*/
            cursor: pointer;
        }

        .opening {
            background: {
                image: url(./img/open.png);
                position: center center;
                size: 100% 100%;
                repeat: no-repeat;
            }
            height: 184px;
            margin: 40px auto;
            width: 184px;
        }
    }
}
