<div class="black-bar">
    <ul class="main">
        <li class="barrage-tab btn-tab-1 icon-back-2"></li>
        <li class="allcount {{#if isShowWrite}}icon-write{{else}}icoon-couple{{/if}}"><var class="qlOLPeople icon-couple">{{topicPo.browseNum}}</var>人次</li>
        <li class="barrage-tab btn-tab-2"></li>
    </ul>
</div>
<a href="javascript:;" class="tabToComment"></a>