{{!--<div class="qlMsgTips enter-live-modal" style="display: block;">--}}
	<div class="main" >
		<div class="banner">
		<a class="qlMT_close"></a>
			<i class="icon-checked"></i><b class="banner-title">成功进入直播</b>
		</div>
			<div class="enter_live_status">
				<span class="status-tips icon-ring">
					直播尚未开始~
				</span>
					<span id="focus-live-btn" class="focus-live-btn icon-checked on">关注本直播间，有新课通知你</span>
			</div>
			<div class="elt-bottom">
				<a id="enter-live-btn" class="btn-1 close_elt focusLiveBtnClose" href="javascript:;">进入直播</a>
			</div>
	</div>
{{!--</div>--}}