{{#each data}}
<dd attr-id="{{id}}" >
    <span class="guest-img"><img src="{{defaultVal userBackgroundImgUrl 'https://img.qlchat.com/qlLive/liveCommon/normalLogo.png'}}@132h_132w_1e_1c_2o"></span>
        <span class="guest-title">
            <var class="guest-title-1">{{name}}</var>
            <var class="guest-title-2">{{title}}</var>
    </span>
</dd>
{{/each}}