<li class="pptToggle"></li>
{{#if isShowFollow}}
<li  class="btn-follow-live" attr-url="${CtxPath}/live/${entityPo.id}.htm" >关注<br>直播间</li>
{{/if}}
<li class="controlBox">操作</li>
<li class="btn-first-msg btnFirstMsg icon-up-3"></li>
<li class="btn-new-msg icon-down-3"></li>