<header>
    <a href="javascript:;" id="ppt-close-btn">返回主屏</a>
</header>
<section class="main_box_1">
    <p><#if topicView.style == 'ppt'>点击选中图片即可在主屏放出，最佳尺寸为16:9<#else>点击图片即可在直播中放出图片，省去上传的时间</#if></p>
    <ul class="ppt-select-list">
    </ul>
    <!--<span class="ppt-reverse">Re</span>-->
</section>
<footer>
    <span href="javascript:;" class="" id="ppt-add-btn"><i class="icon-plus"></i><#if topicView.style == 'ppt'>添加图片课件<#else>上传图片素材</#if></span>
</footer>