<view class="rule-intro" catch:tap="onWrapperTap">
    
    <view class="content" catch:tap="onContentTap">
        <view class="icon_cross" catch:tap="onWrapperTap"></view>
        <view class="row">1、用户可邀请好友共同拆红包，满4人则拆红包成功，红包金额随机，其中随机一人获得“手气最佳红包”</view>
        <view class="row">2、每个红包发起后{{validDay}}小时内未成功拆开，则过期后需重新发起；</view>
        <view class="row">3、活动期间，得到的红包优惠有效期为一个月，过期后不再享受；</view>
        <view class="row">4、拆分的红包均为课程优惠抵扣券，可直接购买抵扣；</view>
        <view class="row">5、活动期间，不能帮同一好友拆同一课程的优惠券，但发起拆包次数不限；</view>
        <view class="row">6、发起用户需在该红包拆成功或逾期失败后，才可再发起拆下一个红包；</view>
        <view class="row">7、千聊对该活动规则保留最终解释权。</view>
    </view>
</view>