.coral-rank-list{
    width:100%;
    .title{
        display: block;
        width:100%;
        color:#333;
        background-color: #fff;
        font-size: 30px;/*px*/
        line-height: 40px;
        padding-left:30px;
        padding-top:20px;
        font-weight: 600;
    }
}