.un-tab-box{
    height: 88px;
    .un-tab-lists{
        display: flex;
        align-items: center;
        height: 88px;
        &.scroll{
            position: fixed;
            max-width: 1280px; /*px*/
            min-width: 640px; /*px*/
            width: 100%;
            left: 50%;
            top: 0;
            padding: 0 32px;
            box-sizing: border-box;
            transform: translateX(-50%);
            z-index: 11;
            background: #fff;
        }
        .un-tab-item{
            padding-right: 60px;
            height: 100%;
            &:last-child{
                padding-right: 0;
            }
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px; /*px*/
                height: 100%;
                line-height: normal;
                color: #666;
            }
            &.active{
                div{
                    position: relative;
                    font-size: 40px; /*px*/
                    color: #333;
                    font-weight: bold;
                    &::before{
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        width: 36px; /*px*/
                        height: 6px; /*px*/
                        background: #E0414F;
                        border-radius: 6px;
                        content: '';
                    }
                }
            }
        }
    }
}
 