body{
    font-family: "黑体";
}
.tips-bar{
    height: 80px;
    line-height: 80px;
    width: 100%;
    color:#333;
    font-size: 26px;/*px*/
    background-color: #f3ffcf;  
    text-align: center; 
}
.teacher-card{
    width:100%;
    height: auto;
    
}
.teacher-card img {
    width:100%;
}