.co-audio-box{
    width: 110rpx;
    height: 110rpx;
	background-color: #ffffff;
    border-radius: 100%;
    box-shadow: 0 4rpx 15rpx 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    right: 20rpx;
    bottom: 130rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.co-audio-box-image{
    width: 100rpx;
    height: 100rpx;
    border-radius: 100%;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(#000,.5);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80rpx;
        background-image: url(./img/paused.png?__inline);
    }
    &.playing::before{
        background-image: url(./img/playing.gif?__uri);
    }
}
