$red: #F73657;


.button-row-v2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;/*px*/
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    background: #fff;
    overflow: hidden;
    
    span {
        white-space: nowrap;
    }

    > span {
        flex: 1;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 0 .3em;
        font-size: 36px; /*px*/
        line-height: 40px; /*px*/
        box-sizing: border-box;
        font-weight: 500;
    }

    .encrypt-input {
        i {
            font-size: 34px;/*px*/
            margin-right: .6em;
        }
    }
    
    .icon-fire {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 4px;
        width: 45px;
        height: 57px;
        background: url('../../../../channel-intro/c-end/img/icon-fire.png') no-repeat center / cover;
    }
    
    .btn-lg {
        width: 43%;

        .btn-buy {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: flex-end;
            line-height: 1.2;
            font-weight: 500;
            line-height: 1;
            
            .payment-price {
                font-size: 22px; /* px */
                margin-left: 10px;

                &.center {
                    margin-bottom: 10px;
                }
            }
        }
        .coupon-deff-money-span {
            font-size: 20px;/* px */    
            margin-top: 8px;
        }
        .text-box{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .icon-customized-vip{
            display: inline-block;
            margin-left: 10px;
            width: 40px;/*px*/
            height: 40px;/*px*/
            background: url(./img/icon-c-vip.png) center center no-repeat;
            background-size: cover;
        }
        s {
            font-size: 20px;/*px*/
            font-style: normal;
            text-decoration: none;
        }
        b {
            font-weight: 500;
            font-size: 32px; /* px */
        }
    }

    .btn-a-lg {
        width: 100%;
        display: block;
        font-size: 34px; /*px*/
        text-align: center;
        line-height: 100px; /*px*/
    }

    .color-light {
        background-color: #ffffff;
    }

    .color-excited {
        background: linear-gradient(90deg,rgba(247,59,88,1) 0%,rgba(249,126,105,1) 100%);
        color:#fff;
    }

    .color-warm {
		color:#F73657;
        background: linear-gradient(90deg,rgba(255,224,229,1) 0%,rgba(255,230,230,1) 100%);
		font-size: 28px; /* px */
		flex: .75;
    }

    .uni-friend{
        display: block;
        flex: initial;
        background-image: url('../../../../channel-intro/c-end/img/icon-friend.png');
        background-size: 36px; /*px*/
        background-repeat: no-repeat;
        background-position: center 16px; /*px*/
        background-color: #FFF0F0;
        width: 152px;
        padding-top: 55px; /*px*/
        color: #8F3434;
        font-size: 22px; /*px*/
        margin-right: 0;
        text-align: center;
        font-weight: normal;
    }

    .operation-icon {
        position: absolute;
        bottom: 30px;
        right: 20px;
        transform: translateY(-100%);
        width: 120px;
        height: 120px;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
        border-radius: 50%;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        >img {
            display: inline-block;
            width: 38px;
        }

        >span {
            font-size: 22px;/* px */
            color: #ffffff;
            margin-top: 12px;
        }
    }

    .operation-icon-group {
        position: absolute;
        bottom: 100%;
        right: 10px;
        width: 120px;
        height: 124px;/* px */
        z-index: 1;
        cursor: pointer;
        overflow: hidden;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .icons-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80px;/* px */
            height: 80px;/* px */
            background-color: #ffffff;
            margin-bottom: 22px;
            border-radius: 50%;
            border: 1px solid #d1c7c7;/* no */
            flex-shrink: 0;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
            img {
                display: inline-block;
                height: 32px;/* px */
            }

            span {
                font-size: 20px;/* px */
                color: #ffffff;
                margin-top: 4px;
                color: #999090;
                white-space: nowrap;
            }
        }

        .icon-live {
            transition: all 200ms ease-out;
            transform: translateY(0);

            &.top {
                transform: translateY(0);
            }

            &.bottom {
                transform: translateY(100%);
            }
        }
    }
    &.uni-topic-btn{
        padding: 0;
        > div, > span {
            height: 100px; /*px*/
            border: none !important;
            border-radius: initial !important;
            box-sizing: border-box !important;
        }
        .uni-add-btn{
            flex: 0.7;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: normal;
            margin-right: 0;
            background: linear-gradient(90deg,rgba(255,224,229,1) 0%,rgba(255,230,230,1) 100%) ;
            position: relative;
            &.add{
                &::before{
                    position: absolute;
                    top: -62px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 208px;
                    height: 62px;
                    background: url('./img/icon-popover.png') no-repeat center;
                    background-size: 100% 100%;
                    content: '';
                }
            }
            span{
                font-size: 28px; /*px*/
                color:#F73657;
            }
            &.join-btn {
                span{
                    padding-right: 14px; /*px*/
                    font-weight: 500;
                    background: url('./img/icon-jian.png') no-repeat right center;
                    background-size: 8px 16px; /*px*/
                }
            }
        }
        .enter-live{
            width: auto;

        }
    }
}

.icons-container-topic-c {

    ul {
        display: flex;
        width: 100%;
        flex-flow: wrap;
        // border-bottom: 1px solid #ebebeb;/* no */

        li {
            position: relative;
            display: block;
            flex-basis: 20%;
            padding-top: 20%;

            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                // border-right: 1px solid #ebebeb;/* no */
                
                cursor: pointer;

                > img {
                    display: block;
                    height: 100px;/* px */
                    width: 100px;/* px */
                }

                > span {
                    margin-top: 24px;
                    font-size: 22px;/* px */
                    color: #595959;
                }
            }
        }
    }

    .close-button {
        display: flex;
        width: 100%;
        height: 98px;
        justify-content: center;
        align-items: center;
        font-size: 32px;/* px */
        color: #424242;
        cursor: pointer;
    }
    
}

.password-dialog-v2 {
    padding: 0 40px;

    .password-input-wrap {
        display: flex;
        align-items: center;
        height: 76px;
        border-radius: 76px;
        box-sizing: border-box;
        border: 1px solid #ccc;/* no */
    }

    .icon_cross {
        font-size: 30px;/* px */
        color: #b2b2b2;
        padding: .3em;
    }

    .icon_eye_off, .icon_lit_eye {
        font-size: 42px;/* px */
        color: #666;
        padding: .4em .6em .4em .3em;
        margin-left: .4em;
    }

    .password-input {
        padding: 0 40px;
        background-color: transparent;
        width: 100%;
        font-size:28px;/* px */
        color: #333;
        height: 68px;
        border: none;
        box-sizing: border-box;
        outline: none;
    }
}

.btn-emphasize {
    animation: emphasize 1s ease-in infinite alternate;
}

@keyframes emphasize {
    to {
        transform: scale(1.1);
    }
}

.btn-top-enter {
    transform: translateY(100%);
}

.btn-top-enter.btn-top-enter-active {
    transform: translateY(0);
    transition: transform 200ms ease-out;
}

.btn-top-leave {
    transform: translateY(0);
}

.btn-top-leave.btn-top-leave-active {
    transform: translateY(100%);
    transition: transform 200ms ease-out;
}
