.course-consult-container {
    .indicator {
        position: relative;
        display: inline-block;
        background: #F73657;
        border-radius: 20px;
        font-family: PingFangSC;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-align: center;
        padding: 0px 10px;
        min-width: 35px;
        box-sizing: border-box;
        font-weight: 600;
        line-height: normal;
    }
}