.mine-joined-topic {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: #fff;
    .joined-topic-container{
        height:100%;
        position: relative;
        overflow: auto;
        .topic-list{
            width:auto;
            padding:0;
        }
        .loading,
        .no-more-data{
            padding:40px 0;
            text-align:center;
            font-size:22px;/*px*/
            color:#b2b2b2;
        }
    }

}