<div class="common-dialog live-v-dialog">
    <header class="common-dialog-title live-v-dialog-title">
        直播间认证资料
    </header>

    <main class="live-v-dialog-main">
        <ul>
            <li>1.直播间简介: {{detail}}</li>
            <li>2.认证日期: {{dateFormat datetime ''}}完成千聊直播间认证</li>
            <li>3.认证说明: 千聊直播间认证是千聊官方对于直播间创建者身份和资质的真实性和合法性进行甄别和核实的过程。千聊为创建者提供在线分享的工具和平台。</li>
            <li class="tip">敬请留意：直播间的所有行为并不因认证成功而具备真实性和合法性</li>
        </ul>
    </main>
</div>