<div class="common-dialog live-t-dialog">
    <header class="common-dialog-title live-t-dialog-title">
        千聊教师节纪念奖杯
    </header>

    <main class="live-t-dialog-main">
        <p>感谢同行，一路有你。</p>
		<p>教师节纪念奖杯特表彰以下用户：

		<ul>
            <li>l 资历深，与千聊共同成长</li>
            <li>l 课程内容优质、授课形式丰富</li>
            <li>l 认真、严谨、专业的教师精神</li>
            <li>l 为知识的传播与分享作出贡献</li>
		</ul>
        <p class="tip">
            奖杯颁发说明：
            <br>
		    本奖杯颁发于2016年教师节，是千聊对于在2016.9.9.—2016.9.15期间，新创建的直播间和参与教师节纪念活动的讲师授予的第一个教师节纪念奖杯。
		</p>
    </main>
</div>