<dl class="options-container">
    <dt><span class="options-title-label">系列课: </span> a1sdf563asd15a1sdf563asd15a1sdf563asd15a1sdf563asd15a1sdf563asd15a1sdf563asd15a1sdf563asd15</dt>
    <dd id="doTopChannel"><i class="icon_backToTop"></i>置顶系列课</dd>
    <dd id="doDeleteChannel"><i class="icon_trash"></i>删除系列课</dd>
    <dd class="df" id="doClose">取消</dd>
</dl>
