.ch-to-edit{
    .un-right-bottom-icon{
        bottom:22px !important;
        right:22px;
        z-index: 10;
        .cl-td-icon{
            width: 112px;
            height: 112px;
        }
    }
}