<div class="bg darker"></div>
<main class="content">
    <div class="result">
        <div class="re-icon re-{{flag}}"></div>
        <div class="tip">恭喜您获得</div>
        <div class="info">{{money}}元优惠券1张</div>
    </div>
    <div class="bottom">
        <!-- <p class="intro">现在购买刘媛媛：《低起点逆袭普通人快速崛起的31堂修炼课》课程，即可<span class="red">减免{{money}}元</span>，并领取<span class="red">刘媛媛亲笔签名畅销书</span>！（9月13号晚上8点首节课程开播统一发放）</p> -->
        <p class="intro">一顿饭钱 =<br/>
        <span class="red">刘媛媛签名畅销书 + 31堂课 + 一个逆袭的机会</span><br/>
        你还等什么？</p>
    </div>
    <div class="join-btn">点击优惠报名</div>
    <div class="close-btn"></div>
</main>
