.ct-tag-box {
    height: 88px;
    overflow: hidden;
    box-shadow:0px -2px 0px 0px rgba(247,247,247,1); /*no*/
    border-bottom: 2px solid #F7F7F7; /*no*/
    .ct-tag-list{
        display: -webkit-box;
        overflow-x: auto;
        scroll-behavior:smooth;
        height: 100px;
        box-sizing: border-box;
        p{
            display: flex;
            padding: 0 24px;
            height: 88px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px; /*px*/
            color: #666;
            position: relative;
            &:first-child, &:last-child{
                padding: 0 24px 0 32px;
            }
            &.action{
                font-size: 36px; /*px*/
                color: #333;
                font-weight: bold;
                &::before{
                    position: absolute;
                    width: 36px; 
                    height: 6px;
                    border-radius: 6px;
                    left: 50%;
                    bottom: 4px;
                    transform: translateX(-50%);
                    background: #E0414F;
                    content: '';
                }
            }
        }
    }
}
