.subscribe-qrcode-container {
    text-align: center;
    
    .header-title {
        padding: 74px 0;
        color: #333;
        font-size: 40px;
    }
    .qrcode-container {
        margin: auto;
        width: 670px;
        border-radius: 20px;
        box-shadow: 0 0 30px 10px #e5e5e5;
        overflow: hidden;
    }

    .qrcode-header {
        position: relative;
        margin: auto;
        height: 162px;
        font-size: 40px;
        line-height: 162px;
        color: #fff;
        background: #ff4b69;
        border-radius: 20px 20px;
        &::before, &::after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: -10px;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background: #e5e5e5;
        }
        &::after {
            right: -10px;
        }
        &::before {
            left: -10px;
        }
    }
    .qrcode-box {
        border-top: 2px dashed #ff4b69;
        background: #fff;
        padding-bottom: 78px;
        border-radius: 0 0 20px 20px;
        
        
        .qrcode {
            margin: 76px auto 52px;
            padding-bottom:55%;
            width:55%;
            position: relative;
            // background: #333;
            >img {
                width: 100%;
                height: auto;
                display:inline-block;
                position:absolute;
                top:0;
                left:0;
                padding:16000px;
                margin:-16000px;
            }
        }
        .tips {
            color: #333;
            font-size: 32px;
            line-height: 44px;
        }
    }
    .linkto {
        margin: 70px auto 0;
        width: 10em;
        
        a {
            display: inline-block;
            width: 100%;
            color: #41679f;
            text-align: center;
            text-decoration: underline;
            font-size: 24px; /*px*/
            line-height: 1.5;
        }
    }
}