@import '../../comp/none-page/none-page';
$main-color: #f73657;
/* pages/mine/mine.wxss */
page{
    background-color:#fff;
    padding-bottom: 16rpx;
    height: 100%;
}

.login-page{
    width:100%;
    padding-top:30px;
    .guide-logo{
        background: url('https://img.qlchat.com/qlLive/weapp/login-logo.png') center center no-repeat;
        background-size: 100% auto;
        width:30%;
        padding-top:50%;
        margin:10px auto 0;
    }
    .tips{
        color:#333;
        font-size: 15px;/*px*/
        text-align: center;
    }
    .btn-login{// 登录授权按钮 
        background: url("https://img.qlchat.com/qlLive/weapp/btn-login.png") center center no-repeat;
        background-size: 100% auto;
        width:300px;
        height: 70px;
        margin:200px auto 0;
        border:none;
        outline: none;
    }
}
