/* ---------------------- header ----------------------- */
*
{
	box-sizing: content-box;
}
#container
{
	background-color: #fff;
	-webkit-overflow-scrolling: touch;
}
.page-header
{
	position: relative;
}

.page-header > img
{
	width: 100%;
}

.page-header > span
{
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(233, 41, 55, .6);
	height: 59px;
	line-height: 59px;
	color: #fff;
	font-size: 24px;/* px */
	padding: 0 30px;
	border-top-right-radius: 30px;
}

.white-space
{
	height: 100px;
}

/* ---------------------- video-section ----------------------- */
.video-section
{
	background-color: #f5f5f5;
	padding: 40px 50px;
}

.video-section h1
{
	color: #333;
	font-size: 32px;/* px */
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-section h1 span
{
	background-image: url(./img/brace.png);
	width: 14px;
	height: 33px;
	background-size: contain;
}

.video-section .video-container
{
	margin: 50px auto 40px;
	width: 100%;
	padding-bottom: 58%;
	height: 0;
	overflow: hidden;
	position: relative;
	iframe
	{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* ---------------------- gift-section ----------------------- */
.gift-section
{
	main
	{
		box-sizing: border-box;
		border-radius: 10px;
		background-color: rgb(255, 249, 230);
		opacity: .988;
		box-shadow: 0 0 40px 0 rgba(153, 152, 154, .42);
		width: calc(100% - 60px);
		padding: 96px 60px 66px;
		margin: 50px auto;
		position: relative;

		&::before
		{
			content: '';
			background-image: url(./img/ribbon.png);
			position: absolute;
			top: -44px;
			left: -11px;
			width: 178px;
			height: 183px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		.tips
		{
			background-color: #fff;
			border-width: 5px;
			border-color: rgb(246, 208, 103);
			border-style: dotted;
			border-radius: 10px;
			padding: 30px;
			font-size: 26px;/* px */
			color: rgb(51, 51, 51);
			line-height: 2.4;
			position: relative;
			// ::before
			// {
			// 	content: '';
			// 	background-image: url(./img/arrow.png);
			// 	position: absolute;
			// 	top: -169px;
			// 	right: -54px;
			// 	width: 211px;
			// 	height: 169px;
			// 	background-size: contain;
			// 	background-repeat: no-repeat;
			// }
			 > span
			{
				width: 34px;/* px */
				height: 34px;/* px */
				margin: 0 3px;
				background-size: contain;
				display: inline-block;
				vertical-align: sub;
			}
			 > strong
			{
				color: #b09860;
				font-weight: normal;
			}
			.option
			{
				background-image: url(./img/option.png);
			}
			.timeline
			{
				background-image: url(./img/timeline.png);
			}
		}
		.card
		{
			width: 100%;
			position: relative;
			margin-top: 24px;
			 > img
			{
				box-sizing: border-box;
				width: 100%;
				border: 15px solid #fff;
				border-radius: 10px;
			}
			&::after
			{
				content: '';
				background-image: url(./img/present.png);
				position: absolute;
				width: 90px;
				height: 81px;
				background-repeat: no-repeat;
				background-size: contain;
				right: 0;
				top: 0;
			}
		}
		.button-share
		{
			width: 100%;
			margin-top: 20px;
			 > img
			{
				width: 100%;
			}
		}
	}
}

/* ---------------------- qrcode-section ----------------------- */
.qrcode-section
{
	padding: 30px;
}

.qrcode-section main
{
	border-width: 2px;/* no */
	border-color: rgb(247, 204, 105);
	border-style: solid;
	border-radius: 10px;
	padding: 20px 40px;
}

.qrcode-section h1
{
	background-color: rgb(255, 249, 230);
	height: 62px;
	position: relative;
	border-radius: 100px;
	color: #333;
	line-height: 62px;
	text-align: center;
	font-size: 28px;/* px */
	margin-bottom: 40px;
}

.qrcode-section h1::before
{
	content: '';
	background-image: url(./img/question.png);
	background-size: contain;
	width: 62px;
	height: 61px;
	position: absolute;
	top: 0;
	left: 0;
}

.qrcode-section main > p
{
	text-align: center;
	color: #333;
	font-size: 26px;/* px */
	margin-bottom: 26px;/* px */
}

.qrcode-section main > p span
{
	color: #b09860;
}

.qrcode-container
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.qrcode-container > img
{
	width: 250px;
	height: 250px;
	border: 7px solid rgb(247, 204, 105);
	margin-right: 50px;
}

.fingerprint
{
	height: 264px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.fingerprint img
{
	width: 202px;
}

.fingerprint p
{
	color: #999;
	font-size: 24px;/* px */
	margin: 0;
	padding: 0;
	text-align: center;
}

/* ---------------------- footer ----------------------- */
.page-footer
{
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;

	aside
	{
		background-color: #fff;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	main
	{
		background-color: #f84c69;
		flex: 1;
		height: 100%;
		line-height: 100px;
		text-align: center;
		color: #fff;
		font-size: 36px;/* px */
	}
	.regular-price
	{
		color: #acacac;
		font-size: 26px;/* px */
		text-decoration: line-through;
	}
	.discount
	{
		border: 1px solid rgb(248, 76, 105);
		border-radius: 3px;
		color: rgb(248, 76, 105);
		font-size: 18px;/* px */
		padding: 4px 2px;
		line-height: 1;
		margin-top: 5px;
	}
	.price
	{
		color: #f84c69;
		font-size: 40px;/* px */
		margin-left: 20px;
	}
}

/* ---------------------- modal ----------------------- */
.modal
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	.bg
	{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .6);
		&.darker{
			background-color: rgba(0,0,0,.8)
		}
	}

	main
	{
		position: absolute;
		width: calc(100% - 112px);
		left: 56px;
		top: 50%;
		transform: translateY(-50%);
		&.on-top{
			top: 30px;
			transform: none;
		}
	}

	.content
	{
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 24px 20px 34px;
	}

	.content img
	{
		border: 7px solid #f6d067;/* no */
		width: 100%;
		box-sizing: border-box;
	}

	.content button
	{
		width: calc(100% - 200px);
		height: 80px;
		line-height: 80px;
		margin-top: 30px;
		color: #fff;
		font-size: 36px;/* px */
		background-image: linear-gradient( 45deg, rgb(253, 160, 133) 0%, rgb(246, 211, 101) 100%);
		border-radius: 100px;
		border: none;
	}

	.close
	{
		width: 72px;
		height: 72px;
		background-image: url(./img/close.png);
		margin: 50px auto;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.modal .share-tips
{
	color: #fff;
	border-width: 5px;
	padding: 30px;
	font-size: 26px;/* px */
	line-height: 2.4;
	position: relative;
	 > span
	{
		width: 34px;/* px */
		height: 34px;/* px */
		margin: 0 3px;
		background-size: contain;
		display: inline-block;
		vertical-align: sub;
	}
	 > strong
	{
		color: #b09860;
		font-weight: normal;
	}
	.option
	{
		background-image: url(./img/option.png);
	}
	.timeline
	{
		background-image: url(./img/timeline.png);
	}
}

.long-pic
{
	 > img
	{
		width: 100%;
	}
	.gif
	{
		width: calc(100% - 80px);/* px */
		margin-left: 40px;/* px */
	}
}
