
        .fcd-img{
            background: url('https://img.qlchat.com/qlLive/business/BX7J5UYC-5OXZ-YRF8-1563441743922-DILHQU886R3G.png') no-repeat 0 0;
            background-size: 100%;
            border-radius: 50%;
            width: 174px;
            height: 132px; 
            text-align: center;
            box-sizing: border-box;
            padding-top: 10px;
            img{
                width: 112px;
                height:  112px;
                border-radius: 50%; 
                border:2px solid rgba(247,247,247,1);
                position: relative;
                left:-2px;
            }
        }