{{#if gift.isSelf}}
    {{#each giftlist}}
        <li class="gift-ul-item"><span class="gift-ul-item-span1"><var class=" elli">{{userName}}</var> {{me}}领取了我的赠礼</span><span class="gift-ul-item-span2">{{acceptTime}}</span></li>
    {{/each}}
{{/if}}