<div class="qr-code on-visible" data-log-region="gift-course" data-log-pos="118">
    <p class="title"><span class="icon-checked"></span>领取成功</p>
    <img src="{{src}}" alt="qr-code" class="qr-img on-visible"
        data-log-name="分享扫码领课程裂变活动"
        data-log-region="visible-get-course-activity"
        data-log-pos="118">
    <p class="qr-tips">长按扫描二维码</p>
    <p class="qr-tips">关注公众号领取</p>
    <span class="qr-close-btn icon-cross"></span>
</div>