<div class="share-guide">
    <p class="share-text">点击右上角 <span class="icon-dots-horizontal"></span>，选择“分享到朋友圈”
    {{#if isShared}}
    <span class="have-shared">或“分享给微信好友”</span>
    {{/if}}
    </p>

    <div class="tail"></div>
</div>